# Environments
venv/
env/
ENV/
.env

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / Packaging
build/
dist/
*.egg-info/

# Databases & local stores
*.db
*.sqlite3

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS Generated
.DS_Store
Thumbs.db
